<%+cbi/valueheader%>
<div class="cbi-value-field">
    <input type="button" class="btn cbi-button cbi-button-apply" value="<%:View Current Hosts%>" onclick="viewCurrentHosts()" />
    <input type="button" class="btn cbi-button cbi-button-apply" value="<%:View Backup Hosts%>" onclick="viewBackupHosts()" />
    <input type="button" class="btn cbi-button cbi-button-apply" value="<%:Preview Hosts%>" onclick="previewHosts()" />
    <input type="button" class="btn cbi-button cbi-button-apply" value="<%:Backup Hosts%>" onclick="backupHosts()" />
</div>

<script type="text/javascript" src="<%=resource%>/view/autoupdatehosts/autoupdatehosts.js"></script>
<%+cbi/valuefooter%> 