<%+cbi/valueheader%>
<div class="cbi-value-field" style="margin-right: -20px;">
    <textarea id="preview" class="cbi-input-textarea" style="width: calc(100% + 20px); height: 400px;" 
        wrap="off"></textarea>
</div>

<style>
#preview {
    font-family: monospace;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    border: 1px solid #e0e0e0;
    resize: vertical;
    box-sizing: border-box;
}

#preview:focus {
    outline: none;
    border-color: #0099cc;
    box-shadow: 0 0 3px rgba(0,153,204,0.3);
}
</style>
<%+cbi/valuefooter%> 